#E — unified memory bus
@min_distance=0.1
data_addr.*
wen.*
write_data.*
read_data.*
mask.*
mem_ready

#W — interrupt interface
irq_vector.*
irq_priority.*
irq_en.*
irq_recursion_en
isr_ret

#S — clocks, reset, control
clk
resetn
sleep
clk_cpu
hart_id.*
lr_sc_bus.*
sc_fail_ext
amo_lock
resv_valid_ext

#N — debug / status
a0.*
trap_flag
